In [12]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlite3

In [13]:
try :
    mi_conexion=sqlite3.connect("miprimera.bd")
    cursor_obj = mi_conexion.cursor()
except Exception as ex:
    print(ex)

In [14]:
Metro_pct=pd.read_csv("Metro_pct_sold_below_list_uc_sfrcondo_month(transformado).csv")

In [17]:
Metro_pct.to_sql('Metro_pct', con=mi_conexion, index=False, index_label='id', if_exists='replace')

df_precios_=pd.read_sql("SELECT Date,StateName from Metro_pct", mi_conexion)

In [25]:
df_precios_=pd.read_sql("SELECT Date,StateName from Metro_pct GROUP BY StateName" , mi_conexion)

In [26]:
df_precios_

          Date StateName
0   2018-01-31      None
1   2018-01-31        AK
2   2018-01-31        AL
3   2018-01-31        AR
4   2018-01-31        AZ
5   2018-01-31        CA
6   2018-01-31        CO
7   2018-01-31        CT
8   2018-01-31        DE
9   2018-01-31        FL
10  2018-01-31        GA
11  2018-01-31        HI
12  2018-01-31        IA
13  2018-01-31        ID
14  2018-01-31        IL
15  2018-01-31        IN
16  2018-01-31        KS
17  2018-01-31        KY
18  2018-01-31        LA
19  2018-01-31        MA
20  2018-01-31        MD
21  2018-01-31        ME
22  2018-01-31        MI
23  2018-01-31        MN
24  2018-01-31        MO
25  2018-01-31        MS
26  2018-01-31        MT
27  2018-01-31        NC
28  2018-01-31        ND
29  2018-01-31        NE
30  2018-01-31        NH
31  2018-01-31        NJ
32  2018-01-31        NM
33  2018-01-31        NV
34  2018-01-31        NY
35  2018-01-31        OH
36  2018-01-31        OK
37  2018-01-31        OR
38  2018-01-31        PA
39  2018-01-31        RI
40  2018-01-31        SC
41  2018-01-31        SD
42  2018-01-31        TN
43  2018-01-31        TX
44  2018-01-31        UT
45  2018-01-31        VA
46  2018-01-31        WA
47  2018-01-31        WI
48  2018-01-31        WV
49  2018-01-31        WY