In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import sqlite3

In [2]:
try :
    mi_conexion=sqlite3.connect("miprimera.bd")
    cursor_obj = mi_conexion.cursor()
except Exception as ex:
    print(ex)

In [14]:
Metro_pct=pd.read_csv("Metro_pct_sold_below_list_uc_sfrcondo_month(transformado).csv")

In [17]:
Metro_pct.to_sql('Metro_pct', con=mi_conexion, index=False, index_label='id', if_exists='replace')

df_precios_=pd.read_sql("SELECT Date,StateName from Metro_pct", mi_conexion)

In [31]:
df_precios_=pd.read_sql("SELECT count(*) as Cant, Date,StateName from Metro_pct where Date LIKE  '2018%' GROUP BY Date,StateName ORDER BY Cant DESC" , mi_conexion)

In [32]:
df_precios_

     Cant        Date StateName
0      33  2018-01-31        OH
1      33  2018-02-28        OH
2      33  2018-03-31        OH
3      33  2018-04-30        OH
4      33  2018-05-31        OH
..    ...         ...       ...
595     1  2018-12-31      None
596     1  2018-12-31        AK
597     1  2018-12-31        ND
598     1  2018-12-31        RI
599     1  2018-12-31        SD

[600 rows x 3 columns]